body {
  background-color: #d1ddd3;
}

.about {
  background-color: #917B97;
  color: #99C1DE;
  font-family: sans-serif;

}

.about h2 {
  color: #a8c093;
  font-size: 40px;
}

img {
  width: 100%
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #456789;
  font-size: 50px;
  font-family: monospace;
}

.blogPost {
  background-color: #fef5f1;
  width: 50%;
  font-family: sans-serif;
  font-style: italic;

}

.blogPost h3{
  font-size: 35px;
  font-style: normal;
}
 .names {
   font-weight: bold;
   font-family: cursive;
   font-size: 18px;
   color: #89005a;
 }
